
.App{
  margin-top : 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.Exploration{
  width: 100px;
  
}
.Menu{
  left: 10px;
  
}
.Inputs{
  margin: 20px;
  margin-right:20px ;
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  
}
.location{

  height: 120px;
  resize: none;
}
.DateIn{

  height: 120px;
  resize: none;
}
.DateOut{

  height: 120px;
  resize: none;
}
.PartySize{

  height: 120px;
  resize: none;
}
.searchButton{
  text-align: right;

}

.logoImage{
  height: 100px;
  width: 100px; 

}

.menu{
  display: flex;
  justify-content: center;
}

.login{
  margin: 10px;
}

.account{
margin: 10px;
}

.home{
  margin: 10px;
}
.createAccount{
text-align: center;
font-style: italic;
font-size: 30px;
}
