{% load wagtailimages_tags %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>{{ self.title }}</h1>
        <h2>{{ self.sub_title}}</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          {% if self.button_text %}
            <a href="{{ self.button_link }}" class="btn-get-started scrollto">{{ self.button_text }}</a>
          {% endif %}
          {% if self.video_text %}
            <a href="{{ self.video_link }}" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>{{ self.video_text }}</span></a>
          {% endif %}
        </div>
      </div>
      {% if self.image %}
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          {% image self.image max-300x500 class="img-fluid animated"%}
        </div>
      {% endif %}
    </div>
  </div>

</section><!-- End Hero -->
